.counter {
  user-select: none;
  color: #8a8a8a;

  display: flex;
  justify-content: space-between;

  height: 50px;
  line-height: 50px;
  margin-top: 10px;
  background-color: #333333;
  border-radius: 15px;

  .title {
    width: 50%;
    font-size: 35px;
    margin-left: 10px;
    text-transform: capitalize;
  }

  .management {
    width: 50%;

    display: flex;
    justify-content: space-around;

    font-size: 23px;
  }

  .playPause {
    cursor: pointer;
  }
}